@media (max-width: 576px) {
    .nav-mobile{
        display: none !important;
    }
    .header-nav{
        display: none;
    }
    .content-feedbacks{
        position: fixed !important;
        top: 72px !important;
        width: 100% !important;
        left: 0 !important;
        z-index : 1030;
    }

    .nav-mobile-menu{
        position: fixed !important;
        top: 0 !important;
        width: 100% !important;
        left: 0 !important;
        z-index : 1030;
        border-radius: none;
        background-image: url("http://localhost:3000/assets/suggestions/mobile/background-header.png");
        display: block;
        background-size: cover;
    }

    .text-nav-mobile h2 {
        margin-left: 30px;
    }

    .text-nav-mobile h4 {
        margin-left: 30px;
        margin-top:-20px;
        font-weight: 100;
    }

    .menu-mobile{
        position: absolute;
        right: 30px;
        top: 23px;
        bottom: 0;
        cursor: pointer;
    }
    
    .content-menu-mobile{
        position: fixed;
        width: 75%;
        background: #f2f4ff;
        z-index: 1124;
        right: 0px;
        top: 72px;
        height: -webkit-fill-available;
        padding: 25px;
        overflow: auto;
        display: none;
    }

    .overlay{
        top: 72px;
        width: 25%;
    }

    .content-feedbacks .navbar{
        border-radius: 0 !important;
    }

    .navbar{
        display: block;
    }

    .navbar>.row>.col>.dropdown{
        padding-left: 10px;
    }

    .btn-add-feedback{
        padding: 12px;
        margin-top: 0.85em;
        right: 0px;
    }

    .content-layout-feedbacks {
        margin-top:150px;
    }

    .btn-logout{
        padding:6px;
    }

    .wrapper-feedback-text p{
        margin-top: -10px;
    }

    .btn-up-feedback{
        margin-top:20px;
        width: 100px;
    }

    .content-feedback{
        padding:5px;
    }

    .form-footer>.btn.btn-four{
        margin-right: 0px!important;
    }
    
    .container-road-map{
        padding-right:0;
        padding-left: 0;
    }

    .content-layout{
        padding-right:0;
        padding-left: 0;
    }

    .card-feedback-roadmap{
        margin-right: 15px;
        margin-left: 15px;
    }

    .form-footer {
        flex-direction: column;
    }

    .form-footer>.btn {
        width: 100%;
    }

    .content-feedback-form{
        margin-top: 102px !important;
    }

    .content-back{
        margin-left: 8px;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {

    .image-header{
        content: url("http://localhost:3000/assets/suggestions/tablet/background-header.png");
        height: 220px;
    }

    .margin-right-nav{
        margin-right:6.92px ;
    }

    .option-nav{
        height: 198px;
    }

    .option-nav .card-body{
        padding: 12px;
    }

    .category-roadmap{
        margin-top :-20px;
    }

    .content-categories-roadmap{
        padding : 1px;
        margin-top: -10px;
    }

    .content-board-feedback h2{
        margin-top: 111px;
        margin-left: 10px;
    }

    .content-board-feedback h4{
        margin-left: 10px;
    }

    .btn-add-feedback{
        margin-top: 15px;
        padding-left: 10px;
        width: 150px;
    }

    .nav-mobile{
        display: block !important;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {
    .image-header{
        content: url("http://localhost:3000/assets/suggestions/desktop/background-header.png");
    }
    .option-nav .card-body{
        padding: 25px;
    }

    .nav-mobile{
        display: block !important;
    }
}