/**
 * Beu Feedback App
 * Copyright 2021 by ChrisNethunter ID
 */

 :root {
    --purple: #AD1FEA;
    --blue: #4661e6;
    --darkocean : #3A4374;
    --white : #ffffff;
    --gray : #F2F4FF;
    --graywhite:#F7F8FD;
    --ocean:#3A4374;
    --oceanlight: #647196;
    --salmon : #F49F85;
    --bluelight: #62BCFA;
    --red : #D73737;
    --font-family: 'Jost', sans-serif;
}

body{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 23px;
  background-color: var(--gray);
  /* background-color: var(--salmon); */
}

h1{
  font-family: 'JostBold', sans-serif;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.33;
  color : var(--darkocean)
}

small{
  color : var(--oceanlight)
}

h2{
  font-family: 'JostBold', sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25;
  color : var(--darkocean)
}

h3{
  font-family: 'JostBold', sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25;
}

h4{
  font-family: 'JostBold', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2;
}

a{
  color: var(--blue);
}

.text-ocean{
  color : var(--darkocean)
}

.text-ocean-light{
  color : var(--oceanlight)
}

.text-not-feedbacks{
  margin-bottom: -10px;
}

.body-content-two{
  font-size: 15px;
  line-height: 22px;
  color : var(--oceanlight)
}

.body-content-three{
  font-family: 'JostSemiBold', sans-serif;
  font-size: 13px;
  line-height: 19px;
  font-weight: bold;
}

.no-shadow{
  box-shadow: none !important;
}

.btn {
  font-family: 'JostBold', sans-serif;
  border-radius : 9px !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 11px 40px;
  font-size: .875rem;
  line-height: 1.35em;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-block{
  width: 100%;
}

.btn-dropdown{
  padding-left: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
    .btn {
        transition: none
    }
}
.btn:focus,
.btn:hover {
    text-decoration: none
}
.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08)
}

.btn-add-feedback{
  margin-left : 30%;
  margin-right: 2.5%;
  position: absolute;
  right: 0;
}

.btn-up-feedback{
  padding: 10px;
  color: var(--darkocean) !important;
  margin-top:40%;
}

/*BUTTON ONE*/
.btn-one { 
    background:var(--purple);
    background-size: 210% 210%;
    background-position: 100% 0;
    transition: all .15s ease;
    box-shadow: none;
    color: #fff
}
.btn-one.animation-on-hover:hover {
    background-position: 0 100%;
    transition: .3s ease-in-out
}
.btn-one.active,
.btn-one.active:focus,
.btn-one.active:hover,
.btn-one:active,
.btn-one:active:focus,
.btn-one:active:hover,
.btn-one:focus,
.btn-one:hover {
    background-color:#d16efb!important;
    color: #fff;
    box-shadow: none !important;
}
.btn-one:active {
    box-shadow: none!important;
    transform: translateY(1px)!important;
    transition: all .15s ease
}
.btn-one:not([data-action]):hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px)
}
/*BUTTON ONE*/

/*BUTTON TWO*/
.btn-two { 
    background:var(--blue);
    background-size: 210% 210%;
    background-position: 100% 0;
    transition: all .15s ease;
    box-shadow: none;
    color: #fff
}
.btn-two.animation-on-hover:hover {
    background-position: 0 100%;
    transition: .3s ease-in-out
}
.btn-two.active,
.btn-two.active:focus,
.btn-two.active:hover,
.btn-two:active,
.btn-two:active:focus,
.btn-two:active:hover,
.btn-two:focus,
.btn-two:hover {
    background-color:#4661e6ba!important;
    color: #fff;
    box-shadow: none
}
.btn-two:active {
    box-shadow: none!important;
    transform: translateY(1px)!important;
    transition: all .15s ease
}
.btn-two:not([data-action]):hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px)
}
/*BUTTON TWO*/

/*BUTTON THREE*/
.btn-three { 
    background:var(--darkocean);
    background-size: 210% 210%;
    background-position: 100% 0;
    transition: all .15s ease;
    box-shadow: none;
    color: #fff
}
.btn-three.animation-on-hover:hover {
    background-position: 0 100%;
    transition: .3s ease-in-out
}
.btn-three.active,
.btn-three.active:focus,
.btn-three.active:hover,
.btn-three:active,
.btn-three:active:focus,
.btn-three:active:hover,
.btn-three:focus,
.btn-three:hover {
    color: #fff;
    box-shadow: none
}
.btn-three:active {
    box-shadow: none!important;
    transform: translateY(1px)!important;
    transition: all .15s ease
}
.btn-three:not([data-action]):hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px)
}
/*BUTTON THREE*/

/*BUTTON FOUR*/
.btn-four { 
  background:var(--red);
  background-size: 210% 210%;
  background-position: 100% 0;
  transition: all .15s ease;
  box-shadow: none;
  color: #fff
}
.btn-four.animation-on-hover:hover {
  background-position: 0 100%;
  transition: .3s ease-in-out
}
.btn-four.active,
.btn-four.active:focus,
.btn-four.active:hover,
.btn-four:active,
.btn-four:active:focus,
.btn-four:active:hover,
.btn-four:focus,
.btn-four:hover {
  background-color:#d73737ad!important;
  color: var(--white);
  box-shadow: none
}
.btn-four:active {
  box-shadow: none!important;
  transform: translateY(1px)!important;
  transition: all .15s ease
}
.btn-four:not([data-action]):hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px)
}

.icon-btn{
  margin-right: 12px;
}

.icon-btn-left{
  margin-left: 12px;
}

.icon-add-feedback{
  font-size: 10px;
}

.icon-btn-white > path{
    stroke: var(--white);
}

.icon-btn-blue > path{
  stroke: var(--blue);
}

.icon-btn-gray > path{
  stroke: var(--oceanlight);
}

/*BUTTON FIVE*/
.btn-five { 
  background:none;
  background-size: 210% 210%;
  background-position: 100% 0;
  transition: all .15s ease;
  box-shadow: none;
  color: var(--darkocean);
  padding: 0 0 !important;
}
.btn-five.animation-on-hover:hover {
  transition: .3s ease-in-out
}
.btn-five.active,
.btn-five.active:focus,
.btn-five.active:hover,
.btn-five:active,
.btn-five:active:focus,
.btn-five:active:hover,
.btn-five:focus,
.btn-five:hover {
    text-decoration: underline;
}
.btn-five:active {
    box-shadow: none!important;
    transform: translateY(1px)!important;
    transition: all .15s ease
}
.btn-five:not([data-action]):hover {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px)
}
/*BUTTON FIVE*/

/*BUTTON SIX*/
.btn-six { 
    background: var(--darkocean);
    background-size: 210% 210%;
    background-position: 100% 0;
    transition: all .15s ease;
    box-shadow: none;
    color:  var(--white);
}
.btn-six.animation-on-hover:hover {
    background-position: 0 100%;
    transition: .3s ease-in-out
}
.btn-six.active,
.btn-six.active:focus,
.btn-six.active:hover,
.btn-six:active,
.btn-six:active:focus,
.btn-six:active:hover,
.btn-six:focus,
.btn-six:hover {
    color:  var(--white);
    text-decoration: underline;
}
.btn-six:active {
    box-shadow: none!important;
    transform: translateY(1px)!important;
    transition: all .15s ease
}
.btn-six:not([data-action]):hover {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px)
}
/*BUTTON SIX*/

/*BUTTON SEVEN*/
.btn-seven { 
  background:var(--gray);
  background-size: 210% 210%;
  background-position: 100% 0;
  transition: all .15s ease;
  box-shadow: none;
  color: var(--blue);
}
.btn-seven.animation-on-hover:hover {
  background-position: 0 100%;
  transition: .3s ease-in-out
}
.btn-seven.active,
.btn-seven.active:focus,
.btn-seven.active:hover,
.btn-seven:active,
.btn-seven:active:focus,
.btn-seven:active:hover,
.btn-seven:focus,
.btn-seven:active {
  box-shadow: none!important;
  transform: translateY(1px)!important;
  transition: all .15s ease;
  background : var(--blue);
  color: var(--white);
}
.btn-seven:not([data-action]):hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px)
}
/*BUTTON SEVEN*/

/*BUTTON SEVEN*/
.btn-eigth { 
  background:var(--gray);
  background-size: 210% 210%;
  background-position: 100% 0;
  transition: all .15s ease;
  box-shadow: none;
  color: var(--blue);

}
.btn-eigth.animation-on-hover:hover {
  background-position: 0 100%;
  transition: .3s ease-in-out
}

.btn-eigth:not([data-action]):hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px)
}
/*BUTTON SEVEN*/

/* DROPDOWN */

.dropdown,
.dropend,
.dropstart,
.dropup {
    position: relative
}
.dropdown-toggle {
    white-space: nowrap
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}
.dropdown-toggle:empty::after {
    margin-left: 0
}
.dropdown-menu {
  position: absolute;
  top: 115%;
  display: none;
  left: 0;
  z-index: 1000;
  float: left;
  border-radius: 7px;
  min-width: 16rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: .875rem;
  color: #525f7f;
  text-align: left !important;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(34, 42, 66, .15);
  box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1)
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: .125rem
}
.dropdown-menu-start {
    --bs-position: start
}
.dropdown-menu-start[data-bs-popper] {
    right: auto;
    left: 0
}
.dropdown-menu-end {
    --bs-position: end
}
.dropdown-menu-end[data-bs-popper] {
    right: 0;
    left: auto
}
@media (min-width: 576px) {
    .dropdown-menu-sm-start {
        --bs-position: start
    }
    .dropdown-menu-sm-start[data-bs-popper] {
        right: auto;
        left: 0
    }
    .dropdown-menu-sm-end {
        --bs-position: end
    }
    .dropdown-menu-sm-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}
@media (min-width: 768px) {
    .dropdown-menu-md-start {
        --bs-position: start
    }
    .dropdown-menu-md-start[data-bs-popper] {
        right: auto;
        left: 0
    }
    .dropdown-menu-md-end {
        --bs-position: end
    }
    .dropdown-menu-md-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}
@media (min-width: 992px) {
    .dropdown-menu-lg-start {
        --bs-position: start
    }
    .dropdown-menu-lg-start[data-bs-popper] {
        right: auto;
        left: 0
    }
    .dropdown-menu-lg-end {
        --bs-position: end
    }
    .dropdown-menu-lg-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}
@media (min-width: 1200px) {
    .dropdown-menu-xl-start {
        --bs-position: start
    }
    .dropdown-menu-xl-start[data-bs-popper] {
        right: auto;
        left: 0
    }
    .dropdown-menu-xl-end {
        --bs-position: end
    }
    .dropdown-menu-xl-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}
@media (min-width: 1400px) {
    .dropdown-menu-xxl-start {
        --bs-position: start
    }
    .dropdown-menu-xxl-start[data-bs-popper] {
        right: auto;
        left: 0
    }
    .dropdown-menu-xxl-end {
        --bs-position: end
    }
    .dropdown-menu-xxl-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}
.dropup .dropdown-menu[data-bs-popper] {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: .125rem
}
.dropup .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent
}
.dropup .dropdown-toggle:empty::after {
    margin-left: 0
}
.dropend .dropdown-menu[data-bs-popper] {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: .125rem
}
.dropend .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid
}
.dropend .dropdown-toggle:empty::after {
    margin-left: 0
}
.dropend .dropdown-toggle::after {
    vertical-align: 0
}
.dropstart .dropdown-menu[data-bs-popper] {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: .125rem
}
.dropstart .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: ""
}
.dropstart .dropdown-toggle::after {
    display: none
}
.dropstart .dropdown-toggle::before {
    display: inline-block;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: .3em solid;
    border-bottom: .3em solid transparent
}
.dropstart .dropdown-toggle:empty::after {
    margin-left: 0
}
.dropstart .dropdown-toggle::before {
    vertical-align: 0
}
.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e4f2ff
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.50rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    text-decoration: none;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    color: var(--purple);
}

.dropdown-menu.show {
    display: block
}
.dropdown-header {
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: nowrap
}
.dropdown-item-text {
    display: block;
    padding: .25rem 1rem;
    color: #212529
}
.dropdown-menu-dark {
    color: #dee2e6;
    background-color: #343a40;
    border-color: rgba(0, 0, 0, .15)
}

/* DROPDOWN*/

/*FORMS*/
.form-element{
  margin-bottom: 5%;
}

.form-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
}

.form-label {
  margin-bottom: .5rem;
  color : var(--darkocean);
  font-family: var(--font-family);
  font-weight: bold;
}

.form-text {
    margin-top: .25rem;
    margin-bottom: .8rem;
    font-size: .875em;
    color: var(--oceanlight)
}
.form-control {
    display: block;
    width: 100%;
    padding: .7rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-weight: 500;
    color:var(--darkocean) !important; 
    font-family: 'JostSemiBold', sans-serif;
    background-color: var(--gray);
    background-clip: padding-box;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none
    }
}
.form-control[type=file] {
    overflow: hidden
}
.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer
}
.form-control:focus {
    color: #212529;
    border-color:none;
    outline: 0;
    box-shadow: 0 0 0 .1rem var(--blue);
}

@media (prefers-reduced-motion: reduce) {
    .form-control::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none
    }
    .form-control::file-selector-button {
        transition: none
    }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3
}
.form-control::-webkit-file-upload-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end: .75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
@media (prefers-reduced-motion: reduce) {
    .form-control::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none
    }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3
}
.form-control-plaintext {
    display: block;
    width: 100%;
    padding: .375rem 0;
    margin-bottom: 0;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0
}
.form-control-plaintext.form-control-lg,
.form-control-plaintext.form-control-sm {
    padding-right: 0;
    padding-left: 0
}
.form-control-sm {
    min-height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem
}
.form-control-sm::-webkit-file-upload-button {
    padding: .25rem .5rem;
    margin: -.25rem -.5rem;
    -webkit-margin-end: .5rem;
    margin-inline-end: .5rem
}
.form-control-sm::file-selector-button {
    padding: .25rem .5rem;
    margin: -.25rem -.5rem;
    -webkit-margin-end: .5rem;
    margin-inline-end: .5rem
}
.form-control-sm::-webkit-file-upload-button {
    padding: .25rem .5rem;
    margin: -.25rem -.5rem;
    -webkit-margin-end: .5rem;
    margin-inline-end: .5rem
}
.form-control-lg {
    min-height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem
}
.form-control-lg::-webkit-file-upload-button {
    padding: .5rem 1rem;
    margin: -.5rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem
}
.form-control-lg::file-selector-button {
    padding: .5rem 1rem;
    margin: -.5rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem
}
.form-control-lg::-webkit-file-upload-button {
    padding: .5rem 1rem;
    margin: -.5rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem
}
textarea.form-control {
    min-height: calc(1.5em + .75rem + 2px)
}
textarea.form-control-sm {
    min-height: calc(1.5em + .5rem + 2px)
}
textarea.form-control-lg {
    min-height: calc(1.5em + 1rem + 2px)
}
.form-control-color {
    width: 3rem;
    height: auto;
    padding: .375rem
}
.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer
}
.form-control-color::-moz-color-swatch {
    height: 1.5em;
    border-radius: .25rem
}
.form-control-color::-webkit-color-swatch {
    height: 1.5em;
    border-radius: .25rem
}
.form-select {
    display: block;
    width: 100%;
    padding: .7rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #e9ecef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.form-select > option {
    color: var(--salmon);
    padding: 1em !important;
}

@media (prefers-reduced-motion: reduce) {
    .form-select {
        transition: none
    }
}
.form-select:focus {
    border-color:none;
    outline: 0;
    box-shadow: 0 0 0 .1rem var(--blue);
}
.form-select[multiple],
.form-select[size]:not([size="1"]) {
    padding-right: .75rem;
    background-image: none
}
.form-select:disabled {
    background-color: #e9ecef
}
.form-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #212529
}
.form-select-sm {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
    border-radius: .2rem
}
.form-select-lg {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    border-radius: .3rem
}
.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #198754
}
.valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    color: #fff;
    background-color: rgba(25, 135, 84, .9);
    border-radius: .25rem
}
.is-valid~.valid-feedback,
.is-valid~.valid-tooltip,
.was-validated:valid~.valid-feedback,
.was-validated:valid~.valid-tooltip {
    display: block
}
.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: #198754;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    border-color: #198754;
    box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25)
}
.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
    padding-right: calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem)
}
.form-select.is-valid,
.was-validated .form-select:valid {
    border-color: #198754
}
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"],
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"] {
    padding-right: 4.125rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-position: right .75rem center, center right 2.25rem;
    background-size: 16px 12px, calc(.75em + .375rem) calc(.75em + .375rem)
}
.form-select.is-valid:focus,
.was-validated .form-select:valid:focus {
    border-color: #198754;
    box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25)
}
.form-check-input.is-valid,
.was-validated .form-check-input:valid {
    border-color: #198754
}
.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
    background-color: #198754
}
.form-check-input.is-valid:focus,
.was-validated .form-check-input:valid:focus {
    box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25)
}
.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: #198754
}
.form-check-inline .form-check-input~.valid-feedback {
    margin-left: .5em
}
.input-group .form-control.is-valid,
.input-group .form-select.is-valid,
.was-validated .input-group .form-control:valid,
.was-validated .input-group .form-select:valid {
    z-index: 1
}
.input-group .form-control.is-valid:focus,
.input-group .form-select.is-valid:focus,
.was-validated .input-group .form-control:valid:focus,
.was-validated .input-group .form-select:valid:focus {
    z-index: 3
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: var(--red)
}
.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: .25rem .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  color: #fff;
  background-color: rgba(220, 53, 69, .9);
  border-radius: .25rem
}
.is-invalid~.invalid-feedback,
.is-invalid~.invalid-tooltip,
.was-validated:invalid~.invalid-feedback,
.was-validated:invalid~.invalid-tooltip {
    display: block
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: var(--red);
    box-shadow: 0 0 0 .1rem var(--red)
}
.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
    padding-right: calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem)
}
.form-select.is-invalid,
.was-validated .form-select:invalid {
    border-color: #dc3545
}
.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size="1"],
.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size="1"] {
    padding-right: 4.125rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-position: right .75rem center, center right 2.25rem;
    background-size: 16px 12px, calc(.75em + .375rem) calc(.75em + .375rem)
}
.form-select.is-invalid:focus,
.was-validated .form-select:invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25)
}
.form-check-input.is-invalid,
.was-validated .form-check-input:invalid {
    border-color: #dc3545
}
.form-check-input.is-invalid:checked,
.was-validated .form-check-input:invalid:checked {
    background-color: #dc3545
}
.form-check-input.is-invalid:focus,
.was-validated .form-check-input:invalid:focus {
    box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25)
}
.form-check-input.is-invalid~.form-check-label,
.was-validated .form-check-input:invalid~.form-check-label {
    color: #dc3545
}
.form-check-inline .form-check-input~.invalid-feedback {
    margin-left: .5em
}
.input-group .form-control.is-invalid,
.input-group .form-select.is-invalid,
.was-validated .input-group .form-control:invalid,
.was-validated .input-group .form-select:invalid {
    z-index: 2
}
.input-group .form-control.is-invalid:focus,
.input-group .form-select.is-invalid:focus,
.was-validated .input-group .form-control:invalid:focus,
.was-validated .input-group .form-select:invalid:focus {
    z-index: 3
}

/*FORMS*/


/* The container must be positioned relative: */
.custom-select {
    position: relative;
}
  
.custom-select select {
    display: none; /*hide original SELECT element: */
}
  
.select-selected {
    background-color: #e9ecef;
}
  
.select-selected:hover{
    border : solid 1px var(--blue);
}

.select-selected:active{
    border : solid 1px var(--blue);
}
  /* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: url('data:image/svg+xml;utf8,<svg width="10" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l4 4 4-4" stroke="#4661E6" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>') !important;
}
  
  /* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    content: url('data:image/svg+xml;utf8,<svg width="10" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l4 4 4-4" stroke="#4661E6" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>');
    top: 7px;
}
  
  /* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #3a4374;
    padding: 8px 16px;
    border-bottom: 1px solid #dde0e3;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-radius: 7px;
    background-color: var(--gray);
}
  
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #f7f8fd !important;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-box-shadow: 0px 9px 20px 4px #b0b0b0;
  box-shadow: 0px 9px 20px 4px #b0b0b0;
  border-radius: 7px;
  margin-top: 15px;
}
  
/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}
  
.select-items div:hover, .same-as-selected {
    color :var(--purple);
}

/*NAVBAR*/
.nav-mobile-menu{
  display: none;
}

.navbar-brand {
  padding-top: 0.4125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.bg-dark-ocean{
  background-color: var(--darkocean);
}

.navbar-dark-ocean .navbar-brand {
    color: var(--white);
}
.navbar-dark-ocean .navbar-brand:hover, .navbar-dark-ocean .navbar-brand:focus {
    color: var(--white);
}
.navbar-dark-ocean .navbar-nav .nav-link {
    color: var(--white);
}
.navbar-dark-ocean .navbar-nav .nav-link:hover, .navbar-dark-ocean .navbar-nav .nav-link:focus {
    color: var(--white);
}
.navbar-dark-ocean .navbar-nav .nav-link.disabled {
    color: var(--white);
}
.navbar-dark-ocean .navbar-nav .show > .nav-link,
.navbar-dark-ocean .navbar-nav .nav-link.active {
    color: var(--white);
}
.navbar-dark-ocean .navbar-toggler {
    color: var(--white);
}
.navbar-dark-ocean .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark-ocean .navbar-text {
    color: var(--white);
}
.navbar-dark-ocean .navbar-text a,
.navbar-dark-ocean .navbar-text a:hover,
.navbar-dark-ocean .navbar-text a:focus {
    color: var(--white);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
  
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  padding: 2px;
}
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-sm,
  .navbar > .container-md,
  .navbar > .container-lg,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-nav .dropdown-menu {
    position: static;
  }
  
  .navbar-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .navbar-toggler {
      transition: none;
    }
  }
  .navbar-toggler:hover {
    text-decoration: none;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  
  .navbar-nav-scroll {
    max-height: var(--bs-scroll-height, 75vh);
    overflow-y: auto;
  }
  
  @media (min-width: 576px) {
    .navbar-expand-sm {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-sm .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-sm .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler {
      display: none;
    }
    .navbar-expand-sm .offcanvas-header {
      display: none;
    }
    .navbar-expand-sm .offcanvas {
      position: inherit;
      bottom: 0;
      z-index: 1000;
      flex-grow: 1;
      visibility: visible !important;
      background-color: transparent;
      border-right: 0;
      border-left: 0;
      transition: none;
      transform: none;
    }
    .navbar-expand-sm .offcanvas-top,
  .navbar-expand-sm .offcanvas-bottom {
      height: auto;
      border-top: 0;
      border-bottom: 0;
    }
    .navbar-expand-sm .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
  @media (min-width: 768px) {
    .navbar-expand-md {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-md .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler {
      display: none;
    }
    .navbar-expand-md .offcanvas-header {
      display: none;
    }
    .navbar-expand-md .offcanvas {
      position: inherit;
      bottom: 0;
      z-index: 1000;
      flex-grow: 1;
      visibility: visible !important;
      background-color: transparent;
      border-right: 0;
      border-left: 0;
      transition: none;
      transform: none;
    }
    .navbar-expand-md .offcanvas-top,
  .navbar-expand-md .offcanvas-bottom {
      height: auto;
      border-top: 0;
      border-bottom: 0;
    }
    .navbar-expand-md .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-lg .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
    .navbar-expand-lg .offcanvas-header {
      display: none;
    }
    .navbar-expand-lg .offcanvas {
      position: inherit;
      bottom: 0;
      z-index: 1000;
      flex-grow: 1;
      visibility: visible !important;
      background-color: transparent;
      border-right: 0;
      border-left: 0;
      transition: none;
      transform: none;
    }
    .navbar-expand-lg .offcanvas-top,
  .navbar-expand-lg .offcanvas-bottom {
      height: auto;
      border-top: 0;
      border-bottom: 0;
    }
    .navbar-expand-lg .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
  @media (min-width: 1200px) {
    .navbar-expand-xl {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-xl .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-xl .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-xl .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-xl .navbar-toggler {
      display: none;
    }
    .navbar-expand-xl .offcanvas-header {
      display: none;
    }
    .navbar-expand-xl .offcanvas {
      position: inherit;
      bottom: 0;
      z-index: 1000;
      flex-grow: 1;
      visibility: visible !important;
      background-color: transparent;
      border-right: 0;
      border-left: 0;
      transition: none;
      transform: none;
    }
    .navbar-expand-xl .offcanvas-top,
  .navbar-expand-xl .offcanvas-bottom {
      height: auto;
      border-top: 0;
      border-bottom: 0;
    }
    .navbar-expand-xl .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
  @media (min-width: 1400px) {
    .navbar-expand-xxl {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-xxl .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-xxl .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-xxl .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-xxl .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-xxl .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-xxl .navbar-toggler {
      display: none;
    }
    .navbar-expand-xxl .offcanvas-header {
      display: none;
    }
    .navbar-expand-xxl .offcanvas {
      position: inherit;
      bottom: 0;
      z-index: 1000;
      flex-grow: 1;
      visibility: visible !important;
      background-color: transparent;
      border-right: 0;
      border-left: 0;
      transition: none;
      transform: none;
    }
    .navbar-expand-xxl .offcanvas-top,
  .navbar-expand-xxl .offcanvas-bottom {
      height: auto;
      border-top: 0;
      border-bottom: 0;
    }
    .navbar-expand-xxl .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
  .navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand .navbar-toggler {
    display: none;
  }
  .navbar-expand .offcanvas-header {
    display: none;
  }
  .navbar-expand .offcanvas {
    position: inherit;
    bottom: 0;
    z-index: 1000;
    flex-grow: 1;
    visibility: visible !important;
    background-color: transparent;
    border-right: 0;
    border-left: 0;
    transition: none;
    transform: none;
  }
  .navbar-expand .offcanvas-top,
  .navbar-expand .offcanvas-bottom {
    height: auto;
    border-top: 0;
    border-bottom: 0;
  }
  .navbar-expand .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
  
 
  
/*NAVBAR*/

/*ALIGN ELEMENTS*/

.justify-content-start {
    justify-content: flex-start !important;
  }
  
  .justify-content-end {
    justify-content: flex-end !important;
  }
  
  .justify-content-center {
    justify-content: center !important;
  }
  
  .justify-content-between {
    justify-content: space-between !important;
  }
  
  .justify-content-around {
    justify-content: space-around !important;
  }
  
  .justify-content-evenly {
    justify-content: space-evenly !important;
  }
  
  .align-items-start {
    align-items: flex-start !important;
  }
  
  .align-items-end {
    align-items: flex-end !important;
  }
  
  .align-items-center {
    align-items: center !important;
  }
  
  .align-items-baseline {
    align-items: baseline !important;
  }
  
  .align-items-stretch {
    align-items: stretch !important;
  }
  
  .align-content-start {
    align-content: flex-start !important;
  }
  
  .align-content-end {
    align-content: flex-end !important;
  }
  
  .align-content-center {
    align-content: center !important;
  }
  
  .align-content-between {
    align-content: space-between !important;
  }
  
  .align-content-around {
    align-content: space-around !important;
  }
  
  .align-content-stretch {
    align-content: stretch !important;
  }
  
  .align-self-auto {
    align-self: auto !important;
  }
  
  .align-self-start {
    align-self: flex-start !important;
  }
  
  .align-self-end {
    align-self: flex-end !important;
  }
  
  .align-self-center {
    align-self: center !important;
  }
  
  .align-self-baseline {
    align-self: baseline !important;
  }
  
  .align-self-stretch {
    align-self: stretch !important;
  }
/*ALIGN ELEMENTS*/

/*TEXT ALIGNS*/
.text-start {
    text-align: left !important;
  }
  
  .text-end {
    text-align: right !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .text-decoration-none {
    text-decoration: none !important;
  }
  
  .text-decoration-underline {
    text-decoration: underline !important;
  }
  
  .text-decoration-line-through {
    text-decoration: line-through !important;
  }
  
  .text-lowercase {
    text-transform: lowercase !important;
  }
  
  .text-uppercase {
    text-transform: uppercase !important;
  }
  
  .text-capitalize {
    text-transform: capitalize !important;
  }
  
  .text-wrap {
    white-space: normal !important;
  }
  
  .text-nowrap {
    white-space: nowrap !important;
  }
  
  /* rtl:begin:remove */
  .text-break {
    word-wrap: break-word !important;
    word-break: break-word !important;
  }

  .text-white {
    color: var(--white);
  }
/*TEXT ALIGNS*/

.content-layout {
  
}

.content-board-feedback h2{
  margin-top: 70px;
}

.content-board-feedback h4{
  margin-top: -15px;
  font-weight: 100;
}

.content-categories-feedback{
 
}

.content-feedback{
  padding: 20px;
}

.btn-feedback{
  margin-top: 10px;
}

.content-categories-roadmap{
  padding : 15px;
}

.content-categories-feedback button{
  padding: 10px;
  margin : 8px;
}

.content-cards-feedbacks{
  margin-top: 50px !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--graywhite);
  border-radius: 0.8rem;
  margin-bottom: 30px;
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 1.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}
.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-radius: 0.8rem;
}

.category-roadmap{
  margin-bottom: -25px;
}

.position-category{
  width: 10px !important;
  height: 10px !important;
  border-radius: 5px;
  margin-top: 22px;
}

.purple{
  background-color: var(--purple);
}

.salmon{
  background-color: var(--salmon);
}

.bluelight{
  background-color: var(--bluelight);
}

.container-feedbacks{
  margin-top: 30px;
}

.content-feedback-detail{
  margin-top: 35px !important;
}

.content-feedback-form{
  margin-top: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-back{
  /* justify-content: flex-start;  */
  margin-left: 21%;
}

.content-post-comment{
  padding: 30px;
}

.description-feedback{
  margin-top: -30px !important;
}

.detail-feedback-button{
  margin-top: 5px;
}

.float-sm-end {
  float: right !important;
}

.float-sm-center {
  float: center !important;
}

.center{
  margin: 0 auto;
}

.title {
  font-size: 14px;
  font-weight:bold;
}
.komen {
  font-size:14px;
}
.geser {
  margin-left:55px;
  margin-top:5px;
}

.spacing-top{
  margin-top: 30px !important;
}

.spacing-right{
  margin-right: 10px !important;
}

.spacing-left{
  margin-left: 10px !important;
}

.spacing-top-roadmap{
  margin-top: -10px !important;
}

.d-flex {
  display: flex!important;
}

.flex-column {
  flex-direction: column!important;
}

.card-feedback{
  cursor: pointer;
}

.roadmap-title-back{
  padding:0;
  font-size: 10px;
}

.roadmap-title{
  margin-left : 13px;
}

.card-feedback-roadmap{
  border-radius: 0.5rem;
  margin-right: 15px;
}

.card-feedback-planned{
  border-top: solid 7px var(--purple)
}

.card-feedback-live{
  border-top: solid 7px var(--bluelight)
}

.card-feedback-in-progress{
  border-top: solid 7px var(--salmon)
}

.image-header{
  content: url("http://localhost:3000/assets/suggestions/desktop/background-header.png");
}

.margin-right-nav{
  margin-right: 0px ;
}

.option-nav{
  height: auto;
}

.overlay{
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #000000bf;
  display: none;
}

.form-footer>.btn.btn-four{
  margin-right: 60px;
}
.hide{
  display: none;
}

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 73px;
  margin: auto;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  border: 0;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.nav-tabs{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}