@font-face {
  font-family: "JostRegular";
  src: url(/fonts/Jost/Jost-Regular.ttf);
}

@font-face {
  font-family: "JostBold";
  src: url(/fonts/Jost/Jost-Bold.ttf);
}

@font-face {
  font-family: "JostSemiBold";
  src: url(/fonts/Jost/Jost-SemiBold.ttf);
}